{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe - Accueil
{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	{{ include('partials/_categories.html.twig') }}
	<main {{stimulus_controller('accueil')}}>
		<section class="accueil">
			<video autoplay loop muted playsinline>
				<source src="{{ asset('build/images/accueil/bgAccueilVideo.mp4') }}" type="video/mp4">
				Votre navigateur ne prend pas en charge la balise vidéo.
			</video>
			<div class="accueilContent">
				<h1 class="accueilContentTitle">Découvrez une nouvelle dimension de l'élégance
					<br>
					en échangeant des articles de luxe</h1>
				<div class="accueilContentSearch">
					<div class="accueilContentSearchForm">
						<div class="accueilContentSearchFormContent" {{ stimulus_controller('search-preview', { url: path('app_search') } ) }}>
							<input class="accueilContentSearchFormContentInput" autocomplete="off" type="text" name="q" data-action="search-preview#onSearchInput" data-search-preview-target="input" placeholder="Recherchez des articles...">
							<svg class="accueilContentSearchFormContentIcon" width="20" height="20" fill="none" stroke="#a4a4a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-search-preview-target="iconSearch">
								<path d="M10.5 19a8.5 8.5 0 1 0 0-17 8.5 8.5 0 0 0 0 17Z"></path>
								<path d="M13.328 7.172A3.988 3.988 0 0 0 10.5 6a3.988 3.988 0 0 0-2.828 1.172"></path>
								<path d="m16.61 16.611 4.244 4.243"></path>
							</svg>
							<svg width="20" height="20" class="accueilContentSearchFormContentIcon" style="display: none;" data-search-preview-target="iconDelete" data-action="click->search-preview#deleteResearch" fill="none" stroke="#a4a4a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="m4 4 16 16"></path>
								<path d="M4 20 20 4"></path>
							</svg>
							<div class="accueilContentSearchFormContentPreview" data-search-preview-target="result"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="produits">
			<div class="produitsContent">
				<h2 class="produitsContentTitle">Nos produits phares</h2>
				<div class="produitsContentGrid">
					<div class="produitsContentGridLeft imageBox" data-accueil-target="chaussure" data-accueil-chemin="{{ asset('build/images/accueil/chaussuresHover.jpg') }}">
						<img src="{{ asset('build/images/accueil/chaussures.jpg') }}" alt="image"/>
						<a href="{{ path('app_chaussures') }}" class="overlay">Voir plus</a>
					</div>
					<div class="produitsContentGridRight">
						<div class="imageBox" data-accueil-target="sac" data-accueil-chemin="{{ asset('build/images/accueil/sacCategorieHover.png') }}">
							<img src="{{ asset('build/images/accueil/sacCategorie.png') }}" alt="image"/>
							<a href="{{ path('app_sacs') }}" class="overlay">Voir plus</a>
						</div>
						<div class="imageBox" data-accueil-target="vetement" data-accueil-chemin="{{ asset('build/images/accueil/vetementHover.png') }}">
							<img src="{{ asset('build/images/accueil/vetement.png') }}" alt="image"/>
							<a href="{{ path('app_vetements') }}" class="overlay">Voir plus</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% for flashMessage in app.flashes('success') %}
		{% set parts = flashMessage|split('|') %}
		<div data-controller="message" data-message-type-value="{{ parts[2] }}" data-message-title-value="{{ parts[0] }}" data-message-message-value="{{ parts[1] }}"></div>
	{% endfor %}

	{{ include('partials/_footer.html.twig') }}
{% endblock %}
