{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe - Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	<main>
		<section class="formulaire">
			<div class="formulaireCard">
				<h1 class="formulaireCardTitle">Réinitialiser votre mot de passe</h1>
				<p class="formulaireCardTexte">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
				{{ form_start(form, {'attr': {'class': 'formulaireCardForm'}}) }}
				{{ form_label(form.email)}}
				{{ form_widget(form.email)}}
				{% if form.email.vars.errors|length > 0 %}
					<div class="errorMessage">
						{{ form_errors(form.email) }}
					</div>
				{% endif %}

				{{ form_widget(form.submit)}}

				<div class="formulaireCardFormLiens">
					<span>Vous souvenez-vous de votre mot de passe ?<a href="{{path('app_login')}}">Se connecter</a>
					</span>
				</div>

				{{ form_end(form) }}
			</div>
			{% for flashMessage in app.flashes('success') %}
				{% set parts = flashMessage|split('|') %}
				<div data-controller="message" data-message-type-value="{{ parts[2] }}" data-message-title-value="{{ parts[0] }}" data-message-message-value="{{ parts[1] }}"></div>
			{% endfor %}
			{% for flashMessage in app.flashes('danger') %}
				{% set parts = flashMessage|split('|') %}
				<div data-controller="message" data-message-type-value="{{ parts[2] }}" data-message-title-value="{{ parts[0] }}" data-message-message-value="{{ parts[1] }}"></div>
			{% endfor %}
		</section>
	</main>
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
