{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe - Accueil
{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	<h1 {{ stimulus_controller('test') }}>{{ title }}</h1>

	{% for message in app.flashes('success') %}
		{{message}}
	{% endfor %}

	{{ include('partials/_footer.html.twig') }}
{% endblock %}
