{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe - Accueil
{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	<h1 {{ stimulus_controller('test') }}>{{ title }}</h1>

	{% for flashMessage in app.flashes('success') %}
		{% set parts = flashMessage|split('|') %}
		<div data-controller="message" data-message-type-value="{{ parts[2] }}" data-message-title-value="{{ parts[0] }}" data-message-message-value="{{ parts[1] }}"></div>
	{% endfor %}

	{{ include('partials/_footer.html.twig') }}
{% endblock %}
