{% if articles|length %}
	<div class="produitContentGrid" {{stimulus_controller('articles')}}>
		{% for article in articles %}
			<div>
				<div class="produitContentGridEtat">
					{% if article.isValidated == false %}
						<p class="produitContentGridEtatWait">État : En attente
						</p>
					{% else %}
						<p class="produitContentGridEtatValidate">État : Validé</p>
					{% endif %}
					<a class="produitContentGridEtatButton" href="{{path('app_admin_traitement', {'idArticle' : article.id })}}">Voir</a>
				</div>
				<div class="produitContentGridCard">


					<img src="{{ asset('build/images/uploads/produits/' ~ article.produit.pathImage) }}" class="produitContentGridCardImage" alt="Image 1">
					<p class="produitContentGridCardName">
						{{ article.produit.name | slice(0, 40) }}
						{% if article.produit.name | length > 40 %}...
						{% endif %}
					</p>
					<span>{{article.produit.caracteristiques.Marque}}</span>
				</div>
			</div>
		{% endfor %}

	</div>
{% else %}
	<div class="noresult">
		<h3 class="noresultTitle">Désolé, aucun résultat n’a été trouvé</h3>
		<p class="noresultTexte">Il n'y a aucune demande de validation en attente.</p>
	</div>
{% endif %}
