<form
	method="post" class="produitFiltreForm" {{stimulus_controller('form-filtre')}}>

	{% for type, filtres in filtresParType %}
		<div class="produitFiltre{{ type == 'Tailles' ? type : 'Type'}}{{title == 'Vêtements' and type == 'Tailles' ? 'Vetements' : '' }}" {{stimulus_controller('categorie')}}>
			<h2>{{ type }}</h2>
			<ul data-categorie-target="filtres">
				{% for filtre in filtres %}
					<li>
						<input type="checkbox" id="{{ type }}_{{ filtre.id }}" name="{{ type }}[]" value="{{ filtre.name }}" {% if selected[type] is defined %} {% if filtre.name in selected[type] %} checked {% endif %} {% endif %}>
						<label for="{{ type }}_{{ filtre.id }}">{{ filtre.name }}</label>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
	<div class="produitFiltreType" {{stimulus_controller('categorie')}}>
		<h2>Genres</h2>
		<ul data-categorie-target="filtres">
			<li>
				<input type="checkbox" id="Genres_homme" name="Genres[]" value="Homme" {% if selected['Genres'] is defined %} {% if 'Homme' in selected['Genres'] %} checked {% endif %} {% endif %}>
				<label for="Genres_homme">Homme</label>
			</li>
			<li>
				<input type="checkbox" id="Genres_femme" name="Genres[]" value="Femme" {% if selected['Genres'] is defined %} {% if 'Femme' in selected['Genres'] %} checked {% endif %} {% endif %}>
				<label for="Genres_femme">Femme</label>
			</li>
			<li>
				<input type="checkbox" id="Genres_autre" name="Genres[]" value="Autres" {% if selected['Genres'] is defined %} {% if 'Autres' in selected['Genres'] %} checked {% endif %} {% endif %}>
				<label for="Genres_autre">Autres</label>
			</li>
		</ul>
	</div>
</form>
