{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe -
	{{title}}
{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	{{ include('partials/_categories.html.twig') }}
	<main>
		<section class="containerDescription" {{stimulus_controller('categorie')}}>
			<div class="containerDescriptionContent">
				<h1 class="containerDescriptionContentTitle">{{title}}</h1>
				<p class="containerDescriptionContentTexte" data-categorie-target="description">{{description|raw}}</p>
				<a data-action="click->categorie#showMore" class="containerDescriptionContentBouton" data-categorie-target="showMoreButton">Voir plus</a>
				<a data-action="click->categorie#showLess" class="containerDescriptionContentBouton" data-categorie-target="showLessButton" style="display: none;">Voir moins</a>
			</div>
		</section>
		<section class="produit">
			<div class="produitFiltre">
				<div class="produitFiltre">
					{{ include('categorie/_filtres.html.twig') }}
				</div>
			</div>
			<div class="produitContent">
				{% if pager|length %}
					<div class="produitContentGrid">
						{% for produit in pager %}
							<a class="produitContentGridCard">
								<img src="{{ asset(produit.pathImage) }}" class="produitContentGridCardImage" alt="Image 1">
								<p class="produitContentGridCardName">
									{{ produit.name | slice(0, 40) }}
									{% if produit.name | length > 40 %}...
									{% endif %}
								</p>


							</a>
						{% endfor %}

					</div>

					{% if pager.haveToPaginate %}
						<div class="containerPagination">
							{% set pager_with_translated_labels = pagerfanta(pager)|replace({'Previous': 'Précédent', 'Next': 'Suivant'}) %}
							{{ pager_with_translated_labels|raw }}
						</div>
					{% endif %}
				{% else %}
					<div class="noresult">
						<h3 class="noresultTitle">Désolé, aucun résultat n’a été trouvé</h3>
						<p class="noresultTexte">Veuillez modifier vos critères de recherche.</p>
					</div>
				{% endif %}
			</div>
		</section>
	</main>
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
{# Faire les filtres (voir comment les gérés + faire fonctionner) + Responsive de la partie catégorie #}
