{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe -
	{{title}}
{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	{{ include('partials/_categories.html.twig') }}
	<main>
		<section class="containerDescription" {{stimulus_controller('categorie')}}>
			<div class="containerDescriptionContent">
				<h1 class="containerDescriptionContentTitle">{{title}}</h1>
				<p class="containerDescriptionContentTexte" data-categorie-target="description">{{description|raw}}</p>
				<a data-action="click->categorie#showMore" class="containerDescriptionContentBouton" data-categorie-target="showMoreButton">Voir plus</a>
				<a data-action="click->categorie#showLess" class="containerDescriptionContentBouton" data-categorie-target="showLessButton" style="display: none;">Voir moins</a>
			</div>
		</section>
		<section class="tri">
			<div class="triContainer">
				<div class="triContainerDelete">
					<button class="triContainerDeleteButton hidden" id="deleteFilters" data-action="click->categorie#resetFiltres">Tout supprimer
						<svg width="20" height="20" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="m4 4 16 16"></path>
							<path d="M4 20 20 4"></path>
						</svg>
					</button>
				</div>

				<div class="triContainerSelect">
					<label for="triProduits">Trier par :</label>
					<select id="triProduits" name="triProduits">
						<option value="">-- Choisir --
						</option>
						<option value="asc">Ordre alphabétique
						</option>
						<option value="desc">Ordre décroissant
						</option>
					</select>
				</div>
			</div>
			<div class="triFiltreShowMobile" {{stimulus_controller('categorie')}}>
				<button class="triFiltreShowMobileButton" data-action="click->categorie#toggleFiltres">Filtrer
					<svg width="20" height="20" fill="none" stroke="#2e2e2e" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="m3 4.5 7.2 8.409v6.313L13.8 21v-8.091L21 4.5H3Z"></path>
					</svg>
				</button>
			</div>
		</section>
		<section class="produit">
			<div class="produitFiltre actif" id="containerFiltres">
				{{ include('categorie/_filtres.html.twig') }}
			</div>
			<div class="produitContent" id="targetProduit">{{ include('categorie/_list.html.twig') }}</div>
		</section>
	</main>
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
