{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe -
	{{title}}
{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	{{ include('partials/_categories.html.twig') }}
	<main>
		<section class="containerDescription" {{stimulus_controller('categorie')}}>
			<div class="containerDescriptionContent">
				<h1 class="containerDescriptionContentTitle">{{title}}</h1>
				<p class="containerDescriptionContentTexte" data-categorie-target="description">{{description|raw}}</p>
				<a data-action="click->categorie#showMore" class="containerDescriptionContentBouton" data-categorie-target="showMoreButton">Voir plus</a>
				<a data-action="click->categorie#showLess" class="containerDescriptionContentBouton" data-categorie-target="showLessButton" style="display: none;">Voir moins</a>
			</div>
		</section>
		<section class="produit">
			<div class="produitFiltre">
				{{ include('categorie/_filtres.html.twig') }}
			</div>
			<div class="produitContent" id="targetProduit">{{ include('categorie/_list.html.twig') }}</div>
		</section>
	</main>
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
{# Voir pour rajouter ce qu'il faut pour supprimer tous les filtres facilement au lieu de tout décocher + voir pour ajouter un trier par + revoir les cards + mettre la description des catégories en bdd + voir style des checkbox des tailles pour les vêtements #}
