{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe - Preview offre
{% endblock %}
{% block body %}
	{{ include('partials/_navbar.html.twig') }}

	<main>
		{{ include('partials/_sidebar.html.twig') }}
		<section class="profil" >
        <div class="detailsContainer"{{stimulus_controller('details')}}>
	<div class="detailsContainerContent">
		<h1>Voici une preview de votre proposition</h1>
		<h2 class="detailsContainerContentTitle">{{articleProposition.name}}</h2>
		<p class="detailsContainerContentSubtitle">{{articleProposition.caracteristiques.Marque}}</p>
	</div>
	<div class="detailsContainerProduit">
		<div class="detailsContainerProduitImage">
				<div class="slider-for">
					{% for image in articleProposition.photos %}
						<img src="{{ asset('build/images/uploads/propositions/articles/' ~ image) }}" alt="">
					{% endfor %}
				</div>
				<div class="slider-nav">
					{% for image in articleProposition.photos %}
						<img src="{{ asset('build/images/uploads/propositions/articles/' ~ image) }}" alt="">
					{% endfor %}
				</div>
		</div>

		<div class="detailsContainerProduitCard">
			<div class="detailsContainerProduitCardAction">
				<div class="detailsContainerProduitCardActionUser">
					{% if articleProposition.user.pathImage is not null %}
						<img src="{{ asset('build/images/uploads/user/' ~ articleProposition.user.pathImage) }}" alt="" class="detailsContainerProduitCardActionUserImage">
					{% else %}
						<svg width="22" height="22" fill="none" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"></path>
							<path d="M21 22a9 9 0 1 0-18 0"></path>
						</svg>
					{% endif %}
					<p class="detailsContainerProduitCardActionUserName">{{articleProposition.user.firstname ~ ' ' ~ articleProposition.user.lastname}}</p>
				</div>
				<p class="detailsContainerProduitCardActionEtat {% if articleProposition.etat == 'Neuf' %}A{% elseif articleProposition.etat == 'Très bon état' %}B{% else %}C{% endif %}">État :
					{{articleProposition.etat}}</p>
				<p>{{articleProposition.description}}</p>
				<hr>
				<div class="detailsContainerProduitCardActionCertif">
					<div class="detailsContainerProduitCardActionCertifVisible">
						<div class="detailsContainerProduitCardActionCertifVisibleText">
							<svg width="22" height="22" fill="none" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="m9 12 2 2 4-4"></path>
								<path d="M12 3a12 12 0 0 0 8.5 3A12.001 12.001 0 0 1 12 21 12 12 0 0 1 3.5 6 12 12 0 0 0 12 3"></path>
							</svg>
							<p>Vérifié par TradeInLuxe</p>
						</div>
						<button class="detailsContainerProduitCardActionCertifVisibleButton" data-action="click->details#showCertif">
							<svg id="chevronDown" width="28" fill="none" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="m6 9 6 6 6-6"></path>
							</svg>
							<svg id="chevronUp" width="28" height="28" fill="none" stroke="#2e2e2e" style="display: none;" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="m6 15 6-6 6 6"></path>
							</svg>
						</button>
					</div>
					<p class="detailsContainerProduitCardActionCertifHidden" id="hiddenCertif">Vérifié par TradeInLuxe est la désignation que nous utilisons pour indiquer que chaque article est systématiquement inspecté avant un échange.
						<a href="{{path('app_certification')}}" target="_blank">En savoir plus</a>
					</p>
				</div>
				<div class="detailsContainerProduitCardActionEngagement">
					<div class="detailsContainerProduitCardActionEngagementVisible">
						<div class="detailsContainerProduitCardActionEngagementVisibleText">
							<svg width="22" height="22" fill="none" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.27 10.01c-.844-1.038-1.636-1.26-2.377-.669-1.112.888-1.43 3.984-.536 6.714C5.25 18.784 6.99 22.5 10.5 22.5s4.341-3.74 5.773-6c1.432-2.262 2.19-4.443.786-7.16"></path>
								<path d="M5.5 9.019A322.208 322.208 0 0 0 3.5 6c-.723-1.072 1.126-2.459 2-1.516.583.629 1.357 1.555 2.323 2.779"></path>
								<path d="M7.512 12.82c-.242-3.032-.045-5.006.591-5.922.955-1.375 2.729-1.896 4.399-1.896.994 0 1.902.424 2.724 1.27"></path>
								<path d="M20.5 6.307c.293 1.018-.185 1.948-1.658 2.159-1.472.21-2.576.951-3.373 1.574-.796.623-2.22 2.513-2.501 3.462-.281.948-1.888.076-2.32-.303-.431-.379-.855-1.208 0-2.076.856-.867.671-1.04.671-1.92 0-.88 4.681-3.79 7.317-4.056.586-.034 1.571.142 1.864 1.16Z" clip-rule="evenodd"></path>
								<path d="M11.504 2v2.631"></path>
								<path d="M10.153 5.359c-1.509-1.897-2.725-2.955-3.65-3.175"></path>
								<path d="m8.502 3.514.495-2.034"></path>
								<path d="M17.806 5.358c-.16.553-.16 1.07 0 1.554.162.483.507 1 1.036 1.553"></path>
							</svg>
							<p>Notre engagement</p>
						</div>
						<button class="detailsContainerProduitCardActionEngagementVisibleButton" data-action="click->details#showEngagement">
							<svg id="chevronDown2" width="28" fill="none" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="m6 9 6 6 6-6"></path>
							</svg>
							<svg id="chevronUp2" width="28" height="28" fill="none" stroke="#2e2e2e" style="display: none;" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="m6 15 6-6 6 6"></path>
							</svg>
						</button>
					</div>
					<p class="detailsContainerProduitCardActionEngagementHidden" id="hiddenEngagement">Nous nous efforçons de gagner votre confiance et de la conserver. Cela étant, une erreur peut arriver. Auquel cas, nous la rectifierons.
						<a href="{{path('app_cgu')}}" target="_blank">En savoir plus</a>
					</p>
				</div>

				<hr>
				<div class="containerPreviewForm" {{stimulus_controller('profil-echange')}}>
				{% if articleProposition.isEnabled != false %}
					{% if state == false %}
					
							<form method="post" action="{{path('app_echanges_update_profil')}}" class="containerPreviewFormAction" id="formPreview">
							<input type="hidden" value="{{proposition.id}}" name="propositionId" id="inputHidden_{{proposition.id}}">
							<a class="produitContentGridActionDelete" id="buttonDelete_{{proposition.id}}">Annuler</a>

						</form>
					
					{% else %}
					<form method="post" action="{{path('app_echanges_update_profil')}}" class="containerPreviewFormAction">
							<input type="hidden" value="{{proposition.id}}" name="acceptOffreId" id="inputHiddenAccept_{{proposition.id}}">
							<input type="hidden" value="{{proposition.id}}" name="deleteOffreId" id="inputHiddenDelete_{{proposition.id}}">
							<a class="produitContentGridActionValidate" id="buttonAccept_{{proposition.id}}">Accepter</a>
							<a class="produitContentGridActionDelete" id="buttonDelete_{{proposition.id}}">Refuser</a>
						</form>
					{% endif %}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

        </section>
	</main>
	{{ include('partials/_footer.html.twig') }}
{% endblock %}