{% if offres|length %}
	<h2>Vos offres</h2>
	{% for offre in offres %}
		{% if offre.points is null %}
			<div class="produitContentGridEtat">
				{% if offre.etatProposition == null %}
					<p class="produitContentGridEtatWait">État : En attente
					</p>
				{% else %}
					<p class="produitContentGridEtatValidate">État : Validé</p>
				{% endif %}

				<a class="produitContentGridEtatButton" href="">Voir</a>
			</div>
			<div class="profilEchangeContainer">

				<div class="produitContentGrid">
					<div>

						<div class="produitContentGridCard">


							<img src="{{asset('build/images/uploads/articles/' ~ offre.article.pathImage )}}" class="produitContentGridCardImage" alt="Image 1">
							<p class="produitContentGridCardName">
								{{offre.article.name}}
							</p>
							<span>{{offre.article.caracteristiques.Marque}}</span>
						</div>
					</div>
					<div class="iconEchange">
						<svg width="70" height="70" fill="none" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 8h2.5V2L22 9.5 14.5 17v-5H9V6.5L2 14l7 8v-6h2.5"></path>
						</svg>
					</div>
					<div>
						<div class="produitContentGridCard">
							<img src="{{asset('build/images/uploads/proposition/articles/' ~ offre.articleProposition.pathImage )}}" class="produitContentGridCardImage" alt="Image 1">
							<p class="produitContentGridCardName">
								{{offre.articleProposition.name}}
							</p>
							<span>{{offre.articleProposition.caracteristiques.Marque}}</span>
						</div>
					</div>

				</div>
			</div>
		{% else %}
			<div class="produitContentGridEtat" {{stimulus_controller('profil-echange')}}>

				{% if offre.etatProposition == null %}
					<p class="produitContentGridEtatWait">État : En attente</p>
					<form method="post" action="{{path('app_echanges_update_profil')}}" class="produitContentGridAction">
						<input type="hidden" value="{{offre.id}}" name="acceptOffreId" id="inputHiddenAccept_{{offre.id}}">
						<input type="hidden" value="{{offre.id}}" name="deleteOffreId" id="inputHiddenDelete_{{offre.id}}">
						<a class="produitContentGridActionValidate" id="buttonAccept_{{offre.id}}">Accepter</a>
						<a class="produitContentGridActionDelete" id="buttonDelete_{{offre.id}}">Refuser</a>
					</form>
				{% elseif  offre.etatProposition == true and offre.isEnabled == true %}
					<p class="produitContentGridEtatValidate">État : Validé</p>
					<form method="post" action="{{path('app_echanges_update_profil')}}" class="produitContentGridAction">
					<input type="text" class="produitContentGridActionTransporteur" name="numeroTransporteur" id="inputNumeroTransporteur_{{offre.id}}" placeholder="Numéro transporteur (ex: 0679ERT677)">
					<input type="hidden" value="{{offre.id}}" name="offreIdTransporteur" id="inputHiddenTransporteur_{{offre.id}}">
					<button type="submit" class="produitContentGridActionValidate" id="buttonAccept_{{offre.id}}" button-transporteur="transporteur">Envoyer</button>
				</form>
				{% else %}
				<p class="produitContentGridEtatWait">État : En cours d'acheminement</p>
				{% endif %}

				
			</div>
			<div class="profilEchangeContainer">

				<div class="produitContentGrid">
					<div>

						<div class="produitContentGridCard">


							<img src="{{asset('build/images/uploads/articles/' ~ offre.article.pathImage )}}" class="produitContentGridCardImage" alt="Image 1">
							<p class="produitContentGridCardName">
								{{offre.article.name}}
							</p>
							<span>{{offre.article.caracteristiques.Marque}}</span>
						</div>
					</div>
					<div class="iconEchange">
						<svg width="70" height="70" fill="none" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 8h2.5V2L22 9.5 14.5 17v-5H9V6.5L2 14l7 8v-6h2.5"></path>
						</svg>
					</div>
					<div>
						<div class="valeurPoints">
							<div class="valeurPointsUser">
								{% if offre.demandeur.pathImage is not null %}
									<img src="{{ asset('build/images/uploads/user/' ~ offre.demandeur.pathImage) }}" alt="" class="valeurPointsUserImage">
								{% else %}
									<svg width="22" height="22" fill="none" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"></path>
										<path d="M21 22a9 9 0 1 0-18 0"></path>
									</svg>
								{% endif %}
								<p class="valeurPointsUserName">{{offre.demandeur.firstname ~ ' ' ~ offre.demandeur.lastname}}</p>
							</div>

							<p class="valeurPointsTexte">{{offre.points}} points</p>
							
						</div>
						
					</div>

				</div>
			</div>
		{% endif %}
	{% endfor %}
{% else %}
	<h2>Vos offres</h2>
	<div class="profilEchangeContainer">Vous n'avez reçu aucune offres</div>
{% endif %}

{% if mesPropositions|length %}
	<h2>Vos demandes</h2>
	{% for proposition in mesPropositions %}
		{% if proposition.points is null %}
			<div class="produitContentGridEtat">

				{% if proposition.etatProposition == null %}
					<p class="produitContentGridEtatWait">État : En attente</p>
				{% else %}
					<p class="produitContentGridEtatValidate">État : Validé</p>
				{% endif %}

				<a class="produitContentGridEtatButton" href="">Voir</a>
			</div>
			<div class="profilEchangeContainer">

				<div class="produitContentGrid">
					<div>

						<div class="produitContentGridCard">


							<img src="{{asset('build/images/uploads/articles/' ~ proposition.article.pathImage )}}" class="produitContentGridCardImage" alt="Image 1">
							<p class="produitContentGridCardName">
								{{proposition.article.name}}
							</p>
							<span>{{proposition.article.caracteristiques.Marque}}</span>
						</div>
					</div>
					<div class="iconEchange">
						<svg width="70" height="70" fill="none" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 8h2.5V2L22 9.5 14.5 17v-5H9V6.5L2 14l7 8v-6h2.5"></path>
						</svg>
					</div>
					<div>
						<div class="produitContentGridCard">
							<img src="{{asset('build/images/uploads/proposition/articles/' ~ proposition.articleProposition.pathImage )}}" class="produitContentGridCardImage" alt="Image 1">
							<p class="produitContentGridCardName">
								{{proposition.articleProposition.name}}
							</p>
							<span>{{proposition.articleProposition.caracteristiques.Marque}}</span>
						</div>
					</div>

				</div>
			</div>
		{% else %}

			<div class="produitContentGridEtat" {{stimulus_controller('profil-echange')}}>

				{% if proposition.etatProposition == null %}
					<p class="produitContentGridEtatWait">État : En attente</p>
					<form method="post" action="{{path('app_echanges_update_profil')}}" class="produitContentGridAction" id="formArticle">
					<input type="hidden" value="{{proposition.id}}" name="propositionId" id="inputHidden_{{proposition.id}}">
					<a class="produitContentGridActionDelete" id="buttonDelete_{{proposition.id}}">Annuler</a>

				</form>
				{% else %}
					<p class="produitContentGridEtatValidate">État : Validé</p>
				{% endif %}

				
			</div>
			<div class="profilEchangeContainer">

				<div class="produitContentGrid">
					<div>
						<div class="valeurPoints">
							<div class="valeurPointsUser">
								{% if proposition.demandeur.pathImage is not null %}
									<img src="{{ asset('build/images/uploads/user/' ~ proposition.demandeur.pathImage) }}" alt="" class="valeurPointsUserImage">
								{% else %}
									<svg width="22" height="22" fill="none" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"></path>
										<path d="M21 22a9 9 0 1 0-18 0"></path>
									</svg>
								{% endif %}
								<p class="valeurPointsUserName">{{proposition.demandeur.firstname ~ ' ' ~ proposition.demandeur.lastname}}</p>
							</div>

							<p class="valeurPointsTexte">{{proposition.points}} points</p>
							
						</div>
						
					</div>
					<div class="iconEchange">
						<svg width="70" height="70" fill="none" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 8h2.5V2L22 9.5 14.5 17v-5H9V6.5L2 14l7 8v-6h2.5"></path>
						</svg>
					</div>
					<div>

						<a class="produitContentGridCard" href="{{path('app_article_detail', {'id':proposition.article.produit.id, 'idArticle' : proposition.article.id })}}">

							<img src="{{asset('build/images/uploads/articles/' ~ proposition.article.pathImage )}}" class="produitContentGridCardImage" alt="Image 1">
							<p class="produitContentGridCardName">
								{{proposition.article.name}}
							</p>
							<span>{{proposition.article.caracteristiques.Marque}}</span>
							<div class="articleContentGridCardUser">
								{% if proposition.proprietaire.pathImage is not null %}
									<img src="{{ asset('build/images/uploads/user/' ~ proposition.proprietaire.pathImage) }}" alt="" class="articleContentGridCardUserImage">
								{% else %}
									<svg width="22" height="22" fill="none" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"></path>
										<path d="M21 22a9 9 0 1 0-18 0"></path>
									</svg>
								{% endif %}
								<p class="articleContentGridCardUserName">{{proposition.proprietaire.firstname ~ ' ' ~ proposition.proprietaire.lastname}}</p>
							</div>
						</a>
					</div>


				</div>
			</div>
		{% endif %}
	{% endfor %}
{% else %}
	<h2>Vos demandes</h2>
	<div class="profilEchangeContainer">Vous n'avez fais aucune demande</div>
{% endif %}
