{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe - Mes échanges
{% endblock %}
{% block body %}
	{{ include('partials/_navbar.html.twig') }}

	<main>
		{{ include('partials/_sidebar.html.twig') }}

		<section class="profil">
			{% for flashMessage in app.flashes('success') %}
				{% set parts = flashMessage|split('|') %}
				<div data-controller="message" data-message-type-value="{{ parts[2] }}" data-message-title-value="{{ parts[0] }}" data-message-message-value="{{ parts[1] }}"></div>
			{% endfor %}
			{% for flashMessage in app.flashes('danger') %}
				{% set parts = flashMessage|split('|') %}
				<div data-controller="message" data-message-type-value="{{ parts[2] }}" data-message-title-value="{{ parts[0] }}" data-message-message-value="{{ parts[1] }}"></div>
			{% endfor %}
			<div class="profilContainer">
				<h1 class="profilContainerTitle">Mes échanges</h1>
				<p class="profilContainerSubtitle">Retrouvez les propositions d'échanges qui vous ont été faites et vos demandes cette section.</p>
			</div>
		</section>
		<section class="profilEchange">
			{{ include('profil/_proposition.html.twig') }}
		</section>


	</main>
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
