{% extends 'base.html.twig' %}

{% block title %}TradeInLuxe - Inscription
{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	<main>
		<section class="formulaire" {{stimulus_controller('authentification-form')}}>
			<div class="formulaireCard">
				<h1 class="formulaireCardTitle">Inscription</h1>
				{{ form_start(form, {'attr': {'class': 'formulaireCardForm'}}) }}
				{{ form_label(form.email)}}
				{{ form_widget(form.email)}}
				{% if form.email.vars.errors|length > 0 %}
					<div class="errorMessage">
						{{ form_errors(form.email) }}
					</div>
				{% endif %}
				{{ form_label(form.firstname)}}
				{{ form_widget(form.firstname)}}
				{% if form.firstname.vars.errors|length > 0 %}
					<div class="errorMessage">
						{{ form_errors(form.firstname) }}
					</div>
				{% endif %}
				{{ form_label(form.lastname)}}
				{{ form_widget(form.lastname)}}
				{% if form.lastname.vars.errors|length > 0 %}
					<div class="errorMessage">
						{{ form_errors(form.lastname) }}
					</div>
				{% endif %}
				{{ form_label(form.plainPassword.first)}}
				<div class="formulaireCardContainerShowPassword">
					{{ form_widget(form.plainPassword.first)}}
					<span data-action="click->authentification-form#showPassword">
						<i class="fa-regular fa-eye"></i>
					</span>
				</div>
				{% if form.plainPassword.first.vars.errors|length > 0 %}
					<div class="errorMessage">
						{{ form_errors(form.plainPassword.first) }}
					</div>
				{% endif %}
				<div id="passwordRequirements" class="formulaireCardFormRequirement">
					<span id="lowercase">Au moins une minuscule</span>
					<span id="uppercase">Au moins une majuscule</span>
					<span id="digit">Au moins un chiffre</span>
					<span id="specialChar">Au moins un caractère spécial</span>
					<span id="length">Longueur minimale de 6 caractères</span>
				</div>
				{{ form_label(form.plainPassword.second)}}
				{{ form_widget(form.plainPassword.second)}}
				<div class="formulaireCardFormTermes">
					{{ form_widget(form.acceptTerms)}}
					{{ form_label(form.acceptTerms)}}
				</div>

				{% if form.acceptTerms.vars.errors|length > 0 %}
					<div class="errorMessage">
						{{ form_errors(form.acceptTerms) }}
					</div>
				{% endif %}
				{{ form_widget(form.submit)}}
				<div class="formulaireCardFormLiens">
					<span>Vous avez déjà un compte ?<a href="{{path('app_login')}}">Se connecter</a>
					</span>
				</div>
				{{ form_end(form) }}
			</div>
		</section>
	</main>
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
