<div class="container">
	<ul class="containerCategories">
		<li>
			<a href="{{ path('app_chaussures') }}"><img src="{{ asset('build/images/pictogramme/pictoChaussures.png') }}" alt="pictogramme">Chaussures</a>
		</li>

		{# A voir si on laisse les marques...utile ?? #}
		{# <li>
											<a href="#"><img src="{{ asset('build/images/pictogramme/pictoMarques.png') }}" alt="pictogramme">Marques</a>
										</li> #}

		<li>
			<a href="{{ path('app_sacs') }}"><img src="{{ asset('build/images/pictogramme/pictoSacs.png') }}" alt="pictogramme">Sacs</a>
		</li>

		<li>
			<a href="{{ path('app_vetements') }}"><img src="{{ asset('build/images/pictogramme/pictoVetements.png') }}" alt="pictogramme">Vêtements</a>
		</li>
	</ul>
</div>
