<footer class="footer">
	<div class="footerContent">
		<div class="footerContentSection">
			<p class="footerContentSectionTitle">TradeInLuxe</p>
			<ul class="footerContentSectionLinks">
				<li>
					<a href="{{path('app_about')}}">À propos de TradeInLuxe</a>
				</li>
				<li>
					<a href="{{path('app_contact')}}">Contact</a>
				</li>
			</ul>
		</div>
		<div class="footerContentSection">
			<p class="footerContentSectionTitle">FAQ</p>
			<ul class="footerContentSectionLinks">
				<li>
					<a href="{{path('app_faq', {'faq': 'fonctionnement'})}}">Comment ça marche ?</a>
				</li>
				<li>
					<a href="{{path('app_faq', {'faq': 'points'})}}">Points</a>
				</li>
				<li>
					<a href="{{path('app_faq', {'faq': 'echanges'})}}">Transport et échanges</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footerBottom">
		<div class="footerBottomLinks">
			<a href="{{path('app_politique')}}">Politique de Confidentialité</a>
			<a href="{{path('app_cgu')}}">Termes et Conditions</a>
			<a href="{{path('app_certification')}}">Certification luxe</a>
			<a href="javascript:openAxeptioCookies()">
				Préférences en matière de cookies
			</a>
		</div>
	</div>
</footer>
