<nav class="navigation">
	<div class="navigationLogo">
		<a href="{{path('app_accueil')}}"><img src="{{ asset('build/images/logo/tradeInLuxeLogo.svg') }}" alt="Logo"></a>
		<a href="{{path('app_accueil')}}">
			<span>TRADEINLUXE</span>
		</a>
	</div>
	<div class="navigationBoutons">
		{% if app.user %}
			<a class="navigationBoutonsConnexion" href="{{path('app_logout')}}">Déconnexion</a>
		{% else %}
			<a class="navigationBoutonsInscription" href="{{path('app_register')}}">S'inscrire</a>
			<a class="navigationBoutonsConnexion" href="{{path('app_login')}}">Se connecter</a>
		{% endif %}
	</div>
</nav>
